data/xsd/cabinet.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema version="1.0"
           xmlns="http://www.w3.org/2001/XMLSchema"
           xmlns:ci="http://www.univ-grenoble-alpes.fr/l3miage/medical"
           targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
           elementFormDefault="qualified">

    
    <!-- Élément racine -->
    <element name="cabinet" type="ci:Cabinet"/>

    <!-- Types complexes -->
    <complexType name="Cabinet">
        <sequence>
            <element name="nom" type="string"/>
            <element name="adresse" type="ci:Adresse"/>
            <element name="infirmiers" type="ci:Infirmier" minOccurs="1" maxOccurs="unbounded"/>
            <element name="patients" type="ci:Patient" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Adresse">
        <sequence>
            <element name="etage" type="ci:Etage"/>
            <element name="numero" type="ci:Numérotation"/>
            <element name="rue" type="string"/>
            <element name="codePostal" type="ci:CodePostal"/>
            <element name="ville" type="ci:Dénomination"/>
        </sequence>
    </complexType>

    <complexType name="Infirmier">
        <sequence>
            <element name="id" type="string"/>
            <element name="nom" type="ci:Dénomination"/>
            <element name="prenom" type="ci:Dénomination"/>
            <element name="photo" type="string" minOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="Patient">
        <sequence>
            <element name="nom" type="ci:Dénomination"/>
            <element name="prenom" type="ci:Dénomination"/>
            <element name="sexe" type="ci:Sexe"/>
            <element name="naissance" type="date"/>
            <element name="numeroSS" type="ci:NumeroSecuriteSociale"/>
            <element name="adresse" type="ci:Adresse"/>
            <element name="visites" type="ci:Visite" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Visite">
        <sequence>
            <element name="date" type="date"/>
            <element name="intervenant" type="string"/>
            <element name="actes" type="ci:Acte" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Acte">
        <attribute name="id" type="string" use="required"/>
    </complexType>

    <!-- Types simples -->
    <simpleType name="NumeroSecuriteSociale">
        <restriction base="string">
            <pattern value="[1-2][0-9]{12}[0-9]{2}"/>
        </restriction>
    </simpleType>

    <simpleType name="CodePostal">
        <restriction base="string">
            <pattern value="[0-9]{5}"/>
        </restriction>
    </simpleType>

    <simpleType name="Etage">
        <restriction base="integer">
            <minInclusive value="0"/>
            <maxInclusive value="99"/>
        </restriction>
    </simpleType>

    <simpleType name="Numérotation">
        <restriction base="integer">
            <minInclusive value="0"/>
            <maxInclusive value="999"/>
        </restriction>
    </simpleType>

    <simpleType name="Dénomination">
        <restriction base="string">
            <pattern value="[A-Za-zÀ-ÿ\-]+"/>
        </restriction>
    </simpleType>

    <simpleType name="Sexe">
        <restriction base="string">
            <enumeration value="M"/>
            <enumeration value="F"/>
        </restriction>
    </simpleType>

</schema>
