data/xsd/cabinetInfirmier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ci="http://www.univ-grenoble-alpes.fr/l3miage/medical"
           targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
           elementFormDefault="qualified">

    <!-- Élément racine -->
    <xs:element name="cabinet" type="ci:Cabinet"/>

    <!-- Types complexes -->
    <xs:complexType name="Cabinet">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="adresse" type="ci:Adresse"/>
            <xs:element name="infirmiers" type="ci:Infirmier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="patients" type="ci:Patient" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Adresse">
        <xs:sequence>
            <xs:element name="etage" type="ci:Etage"/>
            <xs:element name="numero" type="ci:Numérotation"/>
            <xs:element name="rue" type="xs:string"/>
            <xs:element name="codePostal" type="ci:CodePostal"/>
            <xs:element name="ville" type="ci:Dénomination"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Infirmier">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="nom" type="ci:Dénomination"/>
            <xs:element name="prenom" type="ci:Dénomination"/>
            <xs:element name="photo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Patient">
        <xs:sequence>
            <xs:element name="nom" type="ci:Dénomination"/>
            <xs:element name="prenom" type="ci:Dénomination"/>
            <xs:element name="sexe" type="ci:Sexe"/>
            <xs:element name="naissance" type="xs:date"/>
            <xs:element name="numeroSS" type="ci:NumeroSecuriteSociale"/>
            <xs:element name="adresse" type="ci:Adresse"/>
            <xs:element name="visites" type="ci:Visite" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Visite">
        <xs:sequence>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="intervenant" type="xs:string"/>
            <xs:element name="actes" type="ci:Acte" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Acte">
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Types simples -->
    <xs:simpleType name="NumeroSecuriteSociale">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-2][0-9]{12}[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CodePostal">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Etage">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Numérotation">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Dénomination">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][a-z]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Sexe">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
